* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
}
section {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
section .content {
	text-align: center;
}
section .content h2 {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-size: 24vw;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 1em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
section:nth-child(1) .content h2 {
	background-image: url(https://images.unsplash.com/photo-1619167677054-2380a7ba4dc0?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=60);
}
section:nth-child(2) .content h2 {
	background-image: url(https://images.unsplash.com/photo-1619051309658-a5977c3e4fd7?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=60);
}
section:nth-child(3) .content h2 {
	background-image: url(https://images.unsplash.com/photo-1619117579937-6aae52d85aa7?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzM3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=60);
	background-position: bottom;
}
section:nth-child(4) .content h2 {
	background-image: url(https://images.unsplash.com/photo-1619092501939-93cd79994fe6?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0MXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=60);
}
section .content p {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}
section .content a {
	display: inline-block;
	padding: 10px 20px;
	border: 2px solid #000;
	text-decoration: none;
	color: #000;
	margin-top: 20px;
}
